.bai1 {
  .share{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    i {
      margin-right: 10px;
      font-size: 30px;
      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
}