.service{
  &-name{
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
  }
  &-description {
    font-weight: 500;
    padding-left: 20px;
    position: relative;
    margin-bottom: 20px;
    &::after{
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 2px;
      background-color: $primary-color;
      top: 0;
      left: 0;
    }
  }
  &-feature{
    margin-bottom: 10px;
  }
  &-contact {
    margin: 20px 0;
  }
}
article{
  margin-bottom: 20px;
}