.contact {
  padding: 40px 20px 0 0;
}
.form-item {
  margin-top: 20px;
}
.form-contact{
  input {
    margin-top: 5px;
  }
  textarea {
    margin-top: 10px;
  }
  button {
    margin-top: 20px;
    height: 40px;
    width: 80px;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    background-color: rgba($primary-color, .8);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: rgba($secondary-color, .3) ;
      color: $primary-color;
    }
  }
}