.service-title {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  b {
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: $primary-color;
    font-weight: bolder;
  }
  h3 {
    text-transform: uppercase;
    color: $secondary-color
  }
  margin: 20px 0;
  gap: 10px;
}