/* Typographic rules */

@font-face {
  font-family: arial;
  src: url("../fonts/arial.ttf");
}

body {
  font-family: Arial, "arial", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: $primary-color !important;
}

